<%- include('../shared/head', {pageTitle: 'Acces denied!' }) %>
</head>
<body>
    <%-include('../shared/header.ejs') %>
    <main>
        <h1>Accès refusé!</h1>
        <p>Vous n'avez pas accès à cette fonctionnalité</p>
    </main>
    <%- include('../shared/footer.ejs' ) %> 
</body>
