<%- include('../shared/head.ejs', {pageTitle: 'Error!' }) %>
<body>
    <%-include('../shared/header.ejs') %>
    <main>
        <h1>Une erreur est survenue!</h1>
        <p>Oups ! Veuillez ré-essayer plus tard</p>
        <p><a class="btn" href="/">Retournez en lieu sûr!</a></p>
    </main>
    <%- include('../shared/footer.ejs' ) %> 
</body>
