<%- include('head', {pageTitle: 'Error!' }) %>
</head>
<body>
    <%-include('header.ejs') %>
    <main>
        <h1>Pas de missions!</h1>
        <p>Il n' a pas de mission avec cet id!</p>
    </main>

</body>
<footer></footer>