<%- include('head', {pageTitle: 'Error!' }) %>
<body>
    <%-include('header.ejs') %>
    <main>
        <h1>Une erreur est survenue!</h1>
        <p>Oups ! Veuillez ré-essayer plus tard</p>
        <p><a class="btn" href="/">Retournez en lieu sûr!</a></p>
    </main>
</body>
<footer></footer>